@charset "UTF-8";

h3 {
	clear: both
}

a:link {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: lightblue;
	text-decoration: underline;
}

nav {
	color: white;
	background-color: rgb(89, 179, 0);
}

nav a:link {
	text-decoration: none;
	color: white;
}

nav a:hover {
	text-decoration: none;
	color: white;
	background-color: rgb(40, 77, 0);
}

nav a:active, nav a:visited {
	text-decoration: none;
	color: white;
}

.hlavicka, .paticka {
	background-color: rgb(255, 255, 128);
	clear: both
}

header h1 a, header h1 a:link, header h1 a:hover, header h1 a:visited,
	header h1 a:active {
	color: black;
	text-decoration: none;
}

.pictureOfItem, .itemDescription {
	float: left;
}